page-task-detail {
    .maintext{
        color:rgb(47, 46, 68);
    }
    .overdue{
        color:rgb(204, 59, 74);
     }
     .underdue{
         color:rgb(0, 153, 204);
     }
     .completed{
         background-color:rgb(172,172,172);
     }
  
}
