<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <form [formGroup]="form" *ngIf="settingsReady">
    <ion-list *ngIf="page == 'main'">

      <ion-item>
        <ion-label>{{ 'SETTINGS_BARCODE' | translate }}</ion-label>
        <ion-toggle formControlName="barcodeInternal"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'DEFAULT_PAGE' | translate }}</ion-label>
        <ion-select formControlName="defaultPage">
          <ion-option value="ReportCompletePage" checked="true">Report Complete Page</ion-option>
          <ion-option value="InventoryTransferPage">Inventory Transfer Page</ion-option>
          <ion-option value="PickedConfirmPage">Picked Confirm Page</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>API</ion-label>
        <ion-input formControlName="apiAdress"></ion-input>
      </ion-item>

      <button ion-item [navPush]="subSettings" [navParams]="profileSettings">
        {{ 'SETTINGS_LOGINFO_BUTTON' | translate }}
      </button>
    </ion-list>

    <ion-list *ngIf="page == 'login'">
      <ion-item>
        <ion-label>{{ 'DOMAIN' | translate }}</ion-label>
        <ion-input formControlName="domain"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'COMPANY' | translate }}</ion-label>
        <ion-input formControlName="company"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'USERNAME' | translate }}</ion-label>
        <ion-input formControlName="userName"></ion-input>
      </ion-item>
    </ion-list>

  </form>

</ion-content>