<!-- Generated template for the TaskViewComponent component -->

<ion-header>
<ion-input *ngIf="hideAddText===false" class="maintext"  style="font-size:1.2em;padding-bottom:9px;padding-left:13px" placeholder="Add a task..." [(ngModel)]="addText" (keydown.enter)="buttonAddClick()"></ion-input> 
</ion-header>

<ion-content >
<ion-list>
    <ion-item  [style.background-color]="task.Closed==='Y'? 'rgb(200, 200, 200)':'white'" *ngFor="let task of dtTask">
      <ion-checkbox mode="ios" style="margin-right:30px" (ionChange)="taskStatusChanged(task)" [checked]="task.Closed==='Y'"></ion-checkbox>
      <ion-label style="margin:0px;">
        <button (press)="showActionSheet(task)" (tap)="fillInfo(task)"  [style.background-color]="task.Closed==='Y'? 'rgb(200, 200, 200)':'white'" ion-item no-lines >
                      <ion-row style="white-space:normal" >
                         <ion-col class="maintext" style="font-size:1.1em;"> {{task.Details}} </ion-col>
                       </ion-row>
  
                       <ion-row>
                        <ion-col style="color:rgb(109, 78, 69);white-space:normal">{{getUserName(task.GroupUser)}}</ion-col> 
                        <ion-col *ngIf="isOverdue(task)" class="overdue" col-2 style="text-align: right;" >{{formatDueDate(task)}}</ion-col>
                        <ion-col *ngIf="!isOverdue(task)" class="underdue" col-2 style="text-align: right;" >{{formatDueDate(task)}}</ion-col>
                       </ion-row>  
                       <ion-row style="color:gray;font-size:0.8em" *ngIf="task.ProjectEntry > 0">
                        <ion-col >{{getProjectName(task.ProjectEntry)}}<span *ngIf="task.ProjectWBS"> - {{task.ProjectWBS}} </span>  </ion-col> 
                       </ion-row> 
                      
                               
        </button>
      </ion-label>
    </ion-item>          
    </ion-list>
  </ion-content>